* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blanco: #f2f2f2;
    --celeste_claro: #537dca;
    --celeste_oscuro:#4264ae;
    --azul_oscuro: rgb(26, 37, 55);
    
}

body {
    background-image: url("imagenes/fondo.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
}

/* Contenedor maestro */
main {
    width: 90%;
    max-width: 1200px;
    margin: auto;

    /* FlexBox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Cabecera */
header {
    width: 100%;
    padding: 20px 0px;

    /* FlexBox */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

header nav a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 18px;
    padding: 0px 8px;
}
/* Fin de cabecera */


/* Artículo (producto/servicio) */
article {
    background-color: var(--blanco);
    width: 75%;
    padding: 20px;
    border-radius: 10px;
}

article .banner img{
    width: 100%;
}

article .banner{
    margin-bottom: 20px;
}

article .producto h2{
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 20px;    
}

article .producto p{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

article .galeria{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article .galeria img{
    width: 48%;
    margin: 5px;
    border: 1px solid black;
}
/* Fin de artículo (producto/servicio) */


/* aside (publicidad) */
aside {
    background-color: var(--celeste_claro);
    width: 25%;
    padding: 20px;
    border-radius: 10px;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

aside .avisos{
    background-color: var(--celeste_oscuro);
    font-size:20px;
    text-align: center;
    color: var(--blanco);
    padding: 50px 0px;
}
/* Fin del aside (publicidad) */
.video, .mapa{
    width: 70%;
    background-color: var(--blanco);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
}

.video iframe, .mapa iframe{
    width: 100%;
}




/* Pie de página */
footer {
    background-color: rgba(255,255,255,0.2);
    width: 100%;
    color: var(--blanco);
    padding: 20px 10px;
    margin: 10px 0px;
    border-radius: 10px;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
/* Fin del de página */

.formulario{
    width: 70%;
    background-color: var(--blanco);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.formulario h2{
    font-size: 40px;
    text-align: center;
    color: var(--azul_oscuro);
}

.formulario .entrada{
    border: 1px solid #aaa;
    padding: 5px 15px;
    margin: 15px 0px;
    border-radius: 10px;
}

.formulario .entrada input{
    background-color: var(--blanco);
    width: 80%;
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
}

.formulario p{
    text-align: center;
    color: #615f5f;
    padding: 5px;
}

.formulario p .login{
    text-decoration: none;
    font-weight: bold;
    color: var(--azul_oscuro);
}

.formulario p .login:hover{
    color: cadetblue;
}

.formulario p .grabar{
    width: 100%;
    background-color: var(--azul_oscuro);
    color: var(--blanco);
    font-size: 20px;
    padding: 15px 0px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.formulario p .grabar:hover{
    background-color: cadetblue;
}

/* Para pantallas de tableta */
@media screen and (max-width:850px){
    article, .video, .mapa{
        width: 100%;
    }
    aside{
        width: 100%;
        flex-direction: row;
    }
    aside .avisos{
        width: 40%;
    }
}  

/* Para pantallas de Celular */
@media screen and (max-width:650px){
    header{
        flex-direction: column;
    }

    header nav{
        background-color: rgba(255,255,255,0.5);
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    header nav a{
        text-align: center;
        padding: 15px;
        border-bottom: 1px solid var(--blanco);
    }

    header nav a:hover{
        background-color: rgba(0,0,0,0.5);
    }

    article .galeria img{
        width: 100%;
    }

    aside{
        display: none;
    }

    footer{
        flex-direction: column-reverse;
    }
    .video, .mapa{
        width: 100%;
    }

} 
